* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 70px;
  background-color: #ec715f;
}

.heading {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

img {
  height: 70px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #fafafa;
  margin: auto 30px;
}

.heading > :first-child {
  margin-right: auto;
}

/* main-visual */
.main-visual {
  height: 650px;
  background-image: url(./img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
}
/* Portfolio */
.main-gray {
  background-color: #eceff1;
}

.portfolio {
  width: 920px;
  margin: 0 auto;
}

.name {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000000;
}

.name::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: #000000;
}

.image-list {
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image-list > :first-child {
  background-image: url(./img/sketch.jpg);
}

.image-list > :nth-child(2) {
  margin: 0 10px 10px 10px;
  background-image: url(./img/websuku.png);
}

.image-list > :nth-child(3) {
  background-image: url(./img/write.jpg);
}

.image-list > :nth-child(4) {
  background-image: url(./img/webcamp.png);
}

.image-list > :nth-child(5) {
  margin: 0 10px;
  background-image: url(./img/talk.jpg);
}

.image-list > :last-child {
  background-image: url(./img/webcamp-mother.png);
}

/* Feature */
.feature {
  width: 980px;
  margin: 0 auto;
}

.strength-list {
  padding-bottom: 90px;
  display: flex;
}

.strength {
  width: 320px;
  height: auto;
  text-align: center;
}

.strength-list > :nth-child(2) {
  margin: 0 10px;
}

.strength span {
  font-size: 60px;
}

.strength h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #000000;
}

/* 共通部分 */
.common {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.common1 {
  font-size: 20px;
  padding-bottom: 5px;
}

/* Profile */

.profile {
  width: 1024px;
  margin: 0 auto;
}

.profile-content {
  padding-bottom: 90px;
  display: flex;
}

.content1 {
  width: 512px;
  text-align: center;
}

.content2 {
  width: 512px;
}

.my-name {
  padding-bottom: 20px;
}

.my-icon img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

/* Contact */
.contact {
  width: 800px;
  margin: 0 auto;
}

.contact-information {
  padding-bottom: 90px;
  display: flex;
}

.information {
  width: 400px;
}

.contact-information > :first-child {
  width: 130px;
  margin: 0 auto;
}

.contact-information > :nth-child(2) {
  width: 180px;
  margin: 0 auto;
}

.sns span {
  font-size: 50px;
}

.twitter {
  margin: auto 20px;
}

/* footer */
footer {
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  line-height: 60px;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}
