* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 70px;
  background-color: #ec715f;
}

.heading {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

img {
  height: 70px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #fafafa;
  margin: auto 30px;
}

.heading > :first-child {
  margin-right: auto;
}

.main-visual {
  height: 650px;
  background-image: url(./img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
}
